{% extends "base.html" %}
{% block scripts %}
    <!-- jQuery and jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{url_for('static', filename='scripts/item_tables.js')}}"></script>
{% endblock %}

    {% block middle_header %}
    <!-- Include the placeholder_header.html fragment -->
    {% include "placeholder_header.html" %}
    {% endblock %}
    
    {% block middle_content %}
        <table id="itemsTable">
            <thead>
                <tr>
                    <th class="icon-column">Top</th>
                    <th class="group-name-column">Group Name</th>
                    <th class="description-column">Item</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="item-row" data-id="{{ item['replacement_id'] }}">
                    <td>
                        <img class="move-to-top-icon" alt="Move to Top" title="Move to Top" src="{{url_for('static', filename='arrow-up-circle.png')}}"/>
                        <img class="edit-icon" alt="Edit" title="Edit" src="/static/edit_icon.png" />
                        <img class="save-icon" alt="Save" title="Save" src="/static/check_icon.png" style="display:none;" />
                        <img class="delete-icon" alt="Delete" title="Delete" src="/static/delete_icon.png" style="display:none;" />
                    </td>
                    <td class="group-name">{{ item['replacement_group'] }}</td>
                    <td class="item-text">{{ item['replacement_value'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

{% block middle_footer %}
    <!-- Include the replace_add_item.html fragment -->
    {% include "replace_add_item.html" %}
{% endblock %}

{% block right %}
    <!-- Include the right side summary.html fragment -->
    {% include "summary_user_input.html" %}
{% endblock %}


{% block scriptfooter %}
<script>
    const addItemUrl    = "{{ url_for('merge_file.table_add_item') }}";
    const updateItemUrl = "{{ url_for('merge_file.table_update_item') }}";
    const deleteItemUrl = "{{ url_for('merge_file.table_delete_item') }}";
</script>
{% endblock %}