{% extends "base.html" %}

    {% block middle_header %}
    <!-- Include the placeholder_header.html fragment -->
    {% include "placeholder_header_static.html" %}
    {% endblock %}
    
    {% block middle_content %}
        <div class="form-container">
            <div class="form-select">
                <label>Select or Enter Replacement Value:</label>
                <select id="{{ placeholder.placeholder_name }}" name="replacement_value_select" class="form-control">
                    {% for item in items %}
                        <option value="{{ item['replacement_value'] }}">{{ item['replacement_value'] }}</option>
                    {% endfor %}
                </select>
                <br />
                <input type="text" name="replacement_value_input" placeholder="Or enter new value" class="form-control">
            </div>
        </div>
    </form>
    {% endblock %}

{% block right %}
    <!-- Include the right side summary.html fragment -->
    {% include "summary_user_input.html" %}
{% endblock %}